@font-face {
  font-family: "GT America Extended";
  src: url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.eot");
  src: url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.ttf") format("truetype"),
       url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.svg#GT America Extended") format("svg");
}

@font-face {
  font-family: "GT America Extended Bold";
  src: url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.eot");
  src: url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.ttf") format("truetype"),
       url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.svg#GT America Extended Bold") format("svg");
}

* {
  margin: 0;
  padding: 0;
}

html,
body
{
  height: 100%;
  width: 100%;
  font-family: 'GT America Extended';
  background-color: rgb(14, 14, 14);
  color: white;
}

.landing {
  background-image: url('https://media4.giphy.com/media/ftYbYxLSsBgkcqN8OE/giphy.gif?cid=ecf05e47hreqdsl84s1rmuwboyy7nerrxtwibf7nly0j2yt9&rid=giphy.gif&ct=g');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display:table-cell;
  text-align: center;
  vertical-align: middle;
}

.error {
  background-color:rgb(17, 17, 17);
  height: 100vh;
  width: 100vw;
  display:table-cell;
  text-align: center;
  vertical-align: middle;
}

.footer {
  text-align: center;
}

a {
  color: rgba(220, 220, 220, 0.8);
  text-decoration: none;
  transition: color .5s ease-in-out;
}

a:hover {
  color: white;
}

#title {
  font-family: 'GT America Extended Bold';
  animation: fadein 1.5s;
  padding: 15px;
}

#fetch {
  font-size: 1rem;
  animation: fadein 1.5;
  padding: 15px;
  padding-bottom: 30px;
}

#bttn {
  font-family: 'GT America Extended';
  background-color: rgba(99, 99, 99, 0.247);
  border: none;
  color: rgba(220, 220, 220, 0.8);
  width: 100px;
  height: 30px;
  border-radius: 16px;
  animation: fadein 1.5s;
  transition: all .5s ease-in-out;
}

#bttn:hover {
  background-color: rgba(230, 230, 230, 0.247);
  color: white;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}