@font-face {
  font-family: "GT America Extended";
  src: url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.eot");
  src: url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.ttf") format("truetype"),
       url("//db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.svg#GT America Extended") format("svg");
}

@font-face {
  font-family: "GT America Extended Bold";
  src: url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.eot");
  src: url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.ttf") format("truetype"),
       url("//db.onlinewebfonts.com/t/40794b621791bf498f2f06237862031f.svg#GT America Extended Bold") format("svg");
}

* {
  margin: 0;
  padding: 0;
}

html,
body
{
  font-family: 'GT America Extended';
  background-color: rgb(12, 12, 12);
  color: white;
}

.landing {
  background-color: rgb(12, 12, 12);
  height: 94vh;
  width: 100vw;
  display:table-cell;
  text-align: center;
  vertical-align: middle;
}

.app {
  background-color: rgb(12, 12, 12);
  padding: 20px;
  text-align: center;
}

.following {
  display: inline-flex;
}

.user {
  height: 60vh;
  width: 100vw;
  display:table-cell;
  text-align: center;
  vertical-align: middle;
}

.top-artists {
 padding: 20px;
}

.top-artists span {
  display: inline-block;
  padding: 20px;
  width: 250px;
}

.spinner-container {
  background-color: rgb(12, 12, 12);
  height: 80vh;
  width: 100vw;
  display:table-cell;
  text-align: center;
  vertical-align: middle;
  animation: fadein .35s;
}

.error {
  background-color: rgb(12, 12, 12);
  height: 100vh;
  width: 100vw;
  display:table-cell;
  text-align: center;
  vertical-align: middle;
}

.footer {
  text-align: center;
}

.a {
  color: rgba(220, 220, 220, 0.8);
  text-decoration: none;
  transition: color .5s ease-in-out;
  animation: fadein .35s;
}

.a:hover {
  color: white;
}

.navitem {
  color: rgba(220, 220, 220, 0.8);
  text-decoration: none;
  transition: color .5s ease-in-out;
}

.navitem:hover {
  color: white;
}

.title {
  font-family: 'GT America Extended Bold';
  animation: fadein .35s;
  padding: 15px;
}

.text {
  font-family: 'GT America Extended';
  animation: fadein 1s;
  padding: 15px;
}

.tracks {
 display: inline-block;
 padding-top: 30px;
 justify-content: center;
 text-align: center;
}

.trackscard {
  width: 340px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.tracks-img {
  height: 280px;
  z-index: -1;
}

.card-title {
  padding: 10px;
}

.trackscard-content {
  padding: 20px;
  text-align: left;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(220 0% 0% / .3) 20%,
    hsl(0 0% 0% / 1)
  );
}

.trackscard-content p {
  padding-bottom: 7px;
  padding-left: 10px;
}

.topapics {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 100%;
  height: 160px;
  width: 160px;
  animation: fadein .35s;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

#avatar {
  border-radius: 100%;
  height: 200px;
  animation: fadein .35s;
}

#spinner {
  height: 250px;
}

.bttn {
  font-family: 'GT America Extended';
  background-color: rgba(99, 99, 99, 0.247);
  border: none;
  color: rgba(220, 220, 220, 0.8);
  width: 100px;
  height: auto;
  padding: 5px;
  border-radius: 16px;
  animation: fadein .35s;
  transition: all .5s ease-in-out;
}

.bttn:hover {
  background-color: rgba(230, 230, 230, 0.247);
  color: white;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}